/* add CSS reset */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 300%;
}

header {
    display: flex;
    justify-content: flex-end;  
}

header div {
    padding: 5px;
}

main {
    margin: 50px 200px 0px 200px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 500px;
    padding-bottom: 500px;
}

button {
    font-size: 150%;
    background-color: darkred;
    color: white;
    border-radius: 12px;
    
}

#multi-choice {
    display: none;
    flex-flow: column nowrap;
    margin: 25px;
    justify-items: left;
    text-align: left;
    width: 75%;

}

#question {
    display: none;
    font-size: 150%;
}

button {
    margin: 25px
}
